.hflip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
/*        filter: FlipH;
        -ms-filter: "FlipH";*/
        display: inline-block;
}

.vflip {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
/*        filter: FlipH;
        -ms-filter: "FlipH";*/
        display: inline-block;
}

.nonono {
        display:        inline-block;
        position:       relative;

        animation:      800ms nonono;
        animation-iteration-count: infinite;
        /*animation-timing-function: steps(2, jump-none);*/
        animation-timing-function: step-end;
}

@keyframes nonono {
    0% {
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(-1);
    }
}