.hflip {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
/*        filter: FlipH;
        -ms-filter: "FlipH";*/
        display: inline-block;
}

.vflip {
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
/*        filter: FlipH;
        -ms-filter: "FlipH";*/
        display: inline-block;
}

.nonono {
        display:        inline-block;
        position:       relative;

        animation:      800ms nonono;
        animation-iteration-count: infinite;
<<<<<<< HEAD
        /*animation-timing-function: steps(2, jump-none);*/
        animation-timing-function: step-end;
}

@keyframes nonono {
    0% {
        transform: scaleX(1);
    }
    50% {
=======
        animation-timing-function: steps(2, jump-none);
}

@keyframes nonono {
    from {
        transform: scaleX(1);
    }
    to {
>>>>>>> 4c0e730119c0970fb88047e3983daf7d5c461cef
        transform: scaleX(-1);
    }
}